<template>
    <div>
        <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <tr>
                <td v-for="days in dayName" v-text="days"/>
            </tr>
            <tr v-for="week of weeks()">
                    <td v-for="day of week" :class="{'is-dark': day === currentDay}" v-text="day"/>
            </tr>
        </table>
    </div>
</template>

<script>
import {range} from "@/functions";

export default {
    props: ['dayName', 'currentYear', 'currentMonth', 'currentDay', 'submitYear', 'submitMonth'],
    methods: {
        weeks () {
            let next_day = new Date(new Date(this.currentYear, this.currentMonth, 0).setDate(0)).getDate()
            let previous_day_num = new Date(new Date(this.currentYear, this.currentMonth, 0).setDate(1)).getDay()

            if (previous_day_num === 0 || previous_day_num === 8) {
                previous_day_num = 7
            }

            let before = previous_day_num - 1
            let after = 7 - new Date(new Date(this.currentYear, this.currentMonth, 0)).getDay()
            const last_day = [
                // previous days
                ...range(next_day - before + 1, next_day),

                // current days
                ...range(1, new Date ( this.currentYear, this.currentMonth, 0 ).getDate ()),

                // next days
                ...range(1, after )
            ]

            return collect ( last_day )
                .chunk ( 7 )
                .take(6)
                .all ()
    }
  },
}
</script>
