<template>
    <div class="ownClass mt-5 mb-5">
        <div class="btn">
            <button @click="to_previous_month" class="button is-dark" v-text=" 'previous' " />
        </div>
        <div class="btn">
            <button @click="to_next_month" class="button is-dark" v-text=" 'next' " />
        </div>
    </div>
</template>

<script>
export default {
    props: ['currentMonth', 'currentYear'],
    methods: {
        to_previous_month() {
            this.currentMonth--
            this.$emit('changeMonth', this.currentMonth)
        },
        to_next_month() {
            this.currentMonth++
            this.$emit('changeMonth', this.currentMonth)
        }
    }
}
</script>

<style scoped>
    button {
        width: 100px;
    }
    .ownClass {
        display: flex;
    }
    .btn:nth-child(2) {
        margin-left: auto;
    }

</style>
